* { 
    margin: 0px; 
    padding: 0px; 
}
html {
    height: auto;
    margin: 0px;
}
body {
    height: 100%;
    margin: 0px;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}
.text-center {
    text-align: center;
}
.menu {
    text-align: center;
    font-size: 120%;
}
header ul {
    list-style-type: none;
    padding-left: 0px;
}
header li {
    width: 25%;
    float: left;
    /* overflow: hidden; */
}
div ul {
    margin: auto;
    list-style-type: square;
    display: inline-block;
}
div ul li {
    text-align: left;
    margin: 10px 0;
}
header a {
    padding: 0.5rem;
    /* margin: 0; */
    display: block;
    text-decoration: none;
}
header a:link {
    color: royalblue;
    transition: 0.5s;
}
header a:visited {
    color: royalblue;
}
header a:hover {
    color: white;
    background-color: royalblue;
}
/* a:active {
    color: red;
    background-color: #eeffaa;
} */
.sectiontitle {
    background: linear-gradient(transparent 70%, #a7d6ff 50%);
    width: 50%;
    /* display: inline-block; */
    margin: 20px auto;
}
h2 {
    font-family: Verdana;
    font-weight: normal;
}
.top {
    background-color: #a7d6ff;
    height: 13em;
    text-align: center;
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toptitle {
    background: linear-gradient(transparent 70%, white 50%);
    /* width: 100%;*/
    margin: 10px auto;
    display: inline-block;
}
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
table {
    width: auto;
    margin: auto;
    border-spacing: 30px 10px;
}
th {
    text-align: left;
    font-family: Verdana;
    font-weight: normal;
}
th a {
    text-decoration: none;
}
section p {
    width: 60%;
    margin: auto;
}