<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type=text/css href="/static/css/style.css">
        <script src="https://kit.fontawesome.com/ed64ecf526.js" crossorigin="anonymous"></script>
        <meta charset="utf-8">
        <title>Mizuki Kajita's Portfolio Site</title>
    </head>
    <body>
        <section class="top">
            <h2 class="test">Mizuki Kajita's Portfolio Site</h1>
        </section>
        <header>
            <ul>
                <li class="menu"><a href="#bio"><i class="fas fa-user"></i> Biography</a></li>
                <li class="menu"><a href="#research"><i class="fas fa-search"></i> Research</a></li>
                <li class="menu"><a href="#skill"><i class="fas fa-code"></i> Skills</a></li>
                <li class="menu"><a href="#work"><i class="fas fa-check"></i> Works</a></li>
                <br>
            </ul>
        </header>
        <br>
        <section class="text-center">
            <h2 id="bio" class="sectiontitle">Biography</h2>
            ここに自己紹介文
        </section>
        <section class="text-center">
            <h2 id="research" class="sectiontitle">Research field</h2>
            ここに研究内容<br>
            つらつら<br>
            turatura <br>
            hogehoge <br>
            つらつら<br>
            turatura <br>
            hogehoge <br>
            つらつら<br>
            turatura <br>
            hogehoge <br>
            つらつら<br>
            turatura <br>
            hogehoge <br>
            ここに研究内容<br>
            つらつら<br>
            turatura <br>
            hogehoge <br>
            つらつら<br>
            turatura <br>
            hogehoge <br>
            つらつら<br>
            turatura <br>
            hogehoge <br>
            つらつら<br>
            turatura <br>
            hogehoge <br>
            ここに研究内容<br>
            つらつら<br>
            turatura <br>
            hogehoge <br>
            つらつら<br>
            turatura <br>
            hogehoge <br>
            つらつら<br>
            turatura <br>
            hogehoge <br>
            つらつら<br>
            turatura <br>
            hogehoge <br>
            ここに研究内容<br>
            つらつら<br>
            turatura <br>
            hogehoge <br>
            つらつら<br>
            turatura <br>
            hogehoge <br>
            つらつら<br>
            turatura <br>
            hogehoge <br>
            つらつら<br>
            turatura <br>
            hogehoge <br>
            ここに研究内容<br>
            つらつら<br>

        </section>
        <section class="text-center">
            <h2 id="skill" class="sectiontitle">Skill</h2>
            ここにスキル，対応する画像
        </section>
        <section class="text-center">
            <h2 id="work" class="sectiontitle">Works</h2>
            作ったやつ，その概要とgitURL
        </section>
    </body>
</html>