<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type=text/css href="/static/css/style.css">
        <link rel="shortcut icon" href="/static/images/favicon.png">
        <script src="https://kit.fontawesome.com/ed64ecf526.js" crossorigin="anonymous"></script>
        <meta charset="utf-8">
        <title>Mizuki Kajita's Portfolio Site</title>
    </head>
    <body>
        <section class="top">
            <h2 class="toptitle">Mizuki Kajita's Portfolio Site</h1>
        </section>
        <header>
            <ul>
                <li class="menu"><a href="#about"><i class="fas fa-user"></i> About</a></li>
                <li class="menu"><a href="#research"><i class="fas fa-search"></i> Research</a></li>
                <li class="menu"><a href="#skill"><i class="fas fa-code"></i> Skills</a></li>
                <li class="menu"><a href="#work"><i class="fas fa-check"></i> Works</a></li>
                <br>
            </ul>
        </header>
        <br>
        <section>
            <h2 id="about" class="sectiontitle">About</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>梶田 水生 (Mizuki Kajita)</th>
                </tr>
                <tr>
                    <th>Age</th>
                    <th>24</th>
                </tr>
                <tr>
                    <th>University</th>
                    <th>大阪市立大学 大学院 工学研究科 電子情報系専攻</th>
                </tr>
                <tr>
                    <th>Laboratory</th>
                    <th>通信システム研究室</th>
                </tr>
                <tr>
                    <th>Mail</th>
                    <th>mizuki0842boc[at]icloud.com</th>
                </tr>
                <tr>
                    <th>Github</th>
                    <th><a href="https://github.com/mizuki-boc" target="_blank" style="text-decoration: none;">mizuki-boc</a></th>
                </tr>
            </table>
        </section>
        <section>
            <h2 id="research" class="sectiontitle">Research</h2>
            <div style="margin: auto; width: 60%; text-align: left">
                <span style="text-decoration: underline;">研究テーマ</span>
            </div>
            <p style="width: 60%; margin: auto;">
                ウェアラブルデバイスに見立てて試作したセンサモジュールを用い，取得した信号から心拍数を導出するアルゴリズム (光電容積脈波法) の研究を行っています．<br>
                研究でのデータ処理，アルゴリズム実装には MATLAB, Python を使用しています．
            </p>
            <br>
            <div style="margin: auto; width: 60%; text-align: left">
                <span style="text-decoration: underline;">学会発表（国内）</span>
            </div>
            <div style="margin: auto; width: 50%; text-align: left">
                <ul>
                    <li>「可変 TAP 長逐次最小二乗法に基づいた体動ノイズ除去型光電容積心拍センサに関する研究」電子情報通信学会,ヘルスケア・医療情報通信技術研究会</li>
                    <li>「トレリスに基づいた心拍数推定におけるパラメータの最適化」電子情報通信学会,総合大会</li>
                </ul>
            </div>
            <br>
            <div style="margin: auto; width: 60%; text-align: left">
                <span style="text-decoration: underline;">学会発表（海外）</span>
            </div>
            <div style="margin: auto; width: 50%; text-align: left">
                    <ul>
                        <li>「A Trellis-Based Peak Frequency Tracking Tequnique for Photoplethymographic Heart Rate Sensing During Exercise」ISMICT2020</li>
                        <li>「Motion Artifact Canceling PPG Heart Rate Sensor Based on an Adaptive Filter Algorithm with Variable Tap Length」EMBC2020</li>
                    </ul>
                </div>
        </section>
        <section>
            <h2 id="skill" class="sectiontitle">Skills</h2>
            <div style="text-align: center">
                <ul>
                    <li>Python, MATLAB, C, C#, Java, Go, PHP, HTML, CSS</li>
                    <li>AWS, Linux, nginx, SQLite</li>
                    <li>TOEIC Score 825</li>
                </ul> 
            </div>
        </section>
        <section>
            <h2 id="work" class="sectiontitle">Works</h2>
            <!-- CLI reversi -->
            <div class="work-frame">
                <img src="static/images/CLI_Reversi_image.png" alt="CLI_Reversi">
                <div class="work-detail">
                    <!-- 名前　概要　使用言語 -->
                    コマンドラインで動くリバーシ．<br>
                    Python で作成．
                </div>
            </div>
            <!-- GUI reversi -->
            <div class="work-frame">
                <img src="static/images/GUI_Reversi_image.png" alt="GUI_Reversi">
                <div class="work-detail">
                    GUI対応させたリバーシ．<br>
                    Python のビデオゲーム作成ライブラリ pygame を用いてGUI作成．
                </div>
            </div>
            <!-- blackjack -->
            <div class="work-frame">
                <img src="static/images/BlackJack_image.png" alt="Blackjack">
                <div class="work-detail">
                    コマンドラインで動くブラックジャック．<br>
                    Python で作成．<br>
                    デッキをランダム生成し，任意のカードの出現確率，収支の期待値計算が可能．
                </div>
            </div>
            <!-- shirodora いる？ -->
            <!-- portfolio -->
        </section>
        <br>
    </body>
</html>