<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type=text/css href="/static/css/style.css">
        <script src="https://kit.fontawesome.com/ed64ecf526.js" crossorigin="anonymous"></script>
        <meta charset="utf-8">
        <title>Mizuki Kajita's Portfolio Site</title>
    </head>
    <body>
        <section class="top">
            <h2 class="toptitle">Mizuki Kajita's Portfolio Site</h1>
        </section>
        <header>
            <ul>
                <li class="menu"><a href="#about"><i class="fas fa-user"></i> About</a></li>
                <li class="menu"><a href="#research"><i class="fas fa-search"></i> Research</a></li>
                <li class="menu"><a href="#skill"><i class="fas fa-code"></i> Skills</a></li>
                <li class="menu"><a href="#work"><i class="fas fa-check"></i> Works</a></li>
                <br>
            </ul>
        </header>
        <br>
        <section class="text-center">
            <h2 id="about" class="sectiontitle">About</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>梶田 水生(Mizuki Kajita)</th>
                </tr>
                <tr>
                    <th>Age</th>
                    <th>24</th>
                </tr>
                <tr>
                    <th>University</th>
                    <th>大阪市立大学 大学院 工学研究科 電子情報系専攻</th>
                </tr>
                <tr>
                    <th>Laboratory</th>
                    <th>通信システム研究室</th>
                </tr>
                <tr>
                    <th>Mail</th>
                    <th>mizuki0842boc[at]icloud.com</th>
                </tr>
                <tr>
                    <th>Github</th>
                    <th><a href="https://github.com/mizuki-boc" target="_blank">mizuki-boc</a></th>
                </tr>
            </table>
        </section>
        <section class="text-center">
            <h2 id="research" class="sectiontitle">Research</h2>
            <p>
                ウェアラブルデバイスに見立てて試作したセンサモジュールを用いた，
                人間の心拍数推定に関する研究を行っています．<br>
                私は実験でセンサモジュールから得られた信号を
            </p>
            <br>
            <div style="margin: auto; width: 60%; text-align: left">
                <span style="text-decoration: underline;">学会発表（国内）</span>
            </div>
            <div style="margin: auto; width: 50%; text-align: left">
                <ul>
                    <li>「可変 TAP 長逐次最小二乗法に基づいた体動ノイズ除去型光電容積心拍センサに関する研究」電子情報通信学会,ヘルスケア・医療情報通信技術研究会</li>
                    <li>「トレリスに基づいた心拍数推定におけるパラメータの最適化」電子情報通信学会,総合大会</li>
                </ul>
            </div>
            <div style="margin: auto; width: 60%; text-align: left">
                <span style="text-decoration: underline;">学会発表（海外）</span>
            </div>
            <div style="margin: auto; width: 50%; text-align: left">
                    <ul>
                        <li>「A Trellis-Based Peak Frequency Tracking Tequnique for Photoplethymographic Heart Rate Sensing During Exercise」ISMICT2020</li>
                        <li>「Motion Artifact Canceling PPG Heart Rate Sensor Based on an Adaptive Filter Algorithm with Variable Tap Length」EMBC2020</li>
                    </ul>
                </div>
        </section>
        <section class="text-center">
            <h2 id="skill" class="sectiontitle">Skills</h2>
            <div>
                <ul>
                    <li>Python, MATLAB, C, C#, Java, Go, PHP, HTML, CSS</li>
                    <li>AWS, Linux, nginx, SQLite</li>
                    <li>TOEIC Score 825</li>
                </ul> 
            </div>
        </section>
        <section class="text-center">
            <h2 id="work" class="sectiontitle">Works</h2>
            作ったやつ，その概要とgitURL
        </section>
        <br>
    </body>
</html>